<navbar></navbar>
<div class="side-bar">
  <ul class="tabs">
    <li routerLink="/popular" routerLinkActive="active">Gündem</li>
    <li routerLink="/today">Bugün</li>
  </ul>


  <router-outlet></router-outlet>
</div>

<div class="entry-container">
  <div class="entry">
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi!</span>
    <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est suscipit ducimus minima recusandae voluptates, consectetur quis voluptatibus laboriosam natus nostrum?</span>
  </div>
  <div class="entry"></div>
  <div class="entry"></div>
  <div class="entry"></div>
  <div class="entry"></div>
  <div class="entry"></div>
  <div class="entry"></div>
  <div class="entry"></div>
  <div class="entry"></div>
  <div class="entry"></div>
</div>