.side-bar{
        width: 300px;
        height: 1000px;
        background-color: #3E606F;
        float: left;

}

.side-bar .tabs {
        margin: 0px;
        padding: 0px;
        list-style: none;
}

.side-bar .tabs li{
        float: left;
        width: 50%;
        text-align: center;
        height: 30px;
        color: white;
        background-color: #3E606F;
        padding-top: 10px;
        font-weight: 600;
        
}

.side-bar .tabs li:hover{
        float: left;
        width: 50%;
        text-align: center;
        height: 30px;
        background-color: #91AA9D ;
        cursor: pointer;
        
}

.side-bar .tabs li:focus{
        outline: none;
        
}



/* ENTRY-BOX */

.entry-container{
        float: left;
        width: calc(100% - 340px);  
        
}



@media only screen and (max-width: 500px) {
        .side-bar{
                display: none;
        }

        .entry-container{
                width: calc(100% - 0px);
                padding: 0px;

        }
    }