<navbar></navbar>
<div class="side-bar">
  <ul class="tabs">
    <li>Gündem</li>
    <li>Bugün</li>
  </ul>

  <ul class="title-list">
    <li>rock'n roll ve ışlamak</li>
    <li>türk müzik tarihinin en iyi klibi</li>
    <li>yaran facebook durum güncellemeleri</li>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, ab.</li>
  </ul>
</div>

<div class="entry-container">
  <div class="entry"></div>
  <div class="entry"></div>
  <div class="entry"></div>
  <div class="entry"></div>
  <div class="entry"></div>
  <div class="entry"></div>
  <div class="entry"></div>
  <div class="entry"></div>
  <div class="entry"></div>
  <div class="entry"></div>
</div>